
.card{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(5, 7, 110);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left:40%;
    border-top-left-radius:20px ;
    border-bottom-right-radius: 20px;
}
.btn{
    width: 150px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 24px;
    font-size: small;
    padding: 10px;
    background-color: rgb(5, 7, 110);
    color: aliceblue;
    text-transform: uppercase;
    transform: translateX(20px);
    transition: all 0.5s;
    margin: 10PX;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}

.card-title{
    font-weight: bolder;
    padding: 20px;
}

.form-label{
    font-weight: bolder;
}


